extends layout

block layout-content
  h1.display-4.container.text-center Welcome
  p.container.text-center
    | Learn about 
    a(href='https://nodejs.org/en/about/') building web apps with NodeJS.
